<div class="left-menu hidden-xs hidden-sm">
	<ul class="nav">
		<li>
          	<a href="index.html" class="upload-active"><span class="glyphicon glyphicon-upload"></span> 上传理赔单</a>
        </li>
        <li>
          	<a href="order.html" class="my-active"><span class="glyphicon glyphicon-list-alt"></span> 我的理赔单</a>
        </li>
        <li class="divider"></li>
        <li> 
          	<a href="family.html" class="family-active"><span class="glyphicon glyphicon-user"></span> 家属信息</a>
        </li>
        <li>
          	<a href="setting.html" class="setting-active"><span class="glyphicon glyphicon-cog"></span>账户设置</a>
        </li>
    </ul>
</div>

