<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>和金在线-我的理赔单</title>
		<!--resinclude "admin.customReport-css"-->
	</head>
	<body>
		<!--include "./common/header.html"-->
		<div id="main">
			<!--include "./admin/partial/menu.html"-->
			<div class="right-body">
				<div class="breadcrumbs" id="breadcrumbs">
					<ul class="breadcrumb">
						<li>
							<a href="index.html"><i class="glyphicon glyphicon-home"></i> 主页</a>
						</li>
						<li class="active">我的理赔单</li>
					</ul>
				</div>
				<div class="container-fluid" style="margin-top:30px">
					<div class="col-md-12">
						<div class="col-md-3">
							<div class="input-group">
								<label class="input-group-addon">保险公司：</label>
								<select id="tenantId" class="form-control">
									<option value="">请选择</option>
									<option value="10001">太保</option>
									<option value="10002">金饭碗</option>
									<option value="10003">新安怡</option>
									<option value="10005">fesco</option>
									<option value="10009">fesco外包</option>
									<option value="10006">万家</option>
									<option value="99999">理赔宝</option>
								</select>
							</div>
						</div>
						<div class="col-md-3">
							<div class="input-group">
								<label class="input-group-addon">类型：</label>
								<select id="type" class="form-control">
									<option value="1">一般类型报表</option>
									<option value="2">统计类型报表</option>
								</select>
							</div>
						</div>
						<div class="col-md-3">
							<div class="input-group">
								<label class="input-group-addon">报表模版名称：</label><input type="text" value="" id="name" class="form-control" placeholder="报表模版名称：">
							</div>
						</div>
						<div class="col-md-1">
							<input type="button" id="saveCustomReport" class="btn btn-primary" value="保存" />
						</div>
					</div>
				</div>
				<div class="container-fluid">
					<div class="col-md-12" id="customReportBox">
						
					</div>
				</div>
			</div>
		</div>
		<script type="text/html" id="customReportTemplate">
			<div class="col-md-4">
				<div class="title"><span>理赔单字段</span> <span><input class="checkAll" type="checkbox"></span></div>
				<div class="customBody">
					{{each lpt_bz_payment as list index}}
					<div class="inputEdit"><span>{{list.value}}：</span><span><input class="checkbox" type="checkbox" name="{{list.key}}" data-value="{{list.value}}" {{if list.checked}}checked="true"{{/if}} data-parent="lpt_bz_payment"></span></div>
					{{/each}}
				</div>
			</div>
			<div class="col-md-4">
				<div class="title"><span>门诊收据字段</span> <span><input class="checkAll" type="checkbox"></span></div>
				<div class="customBody">
					{{each lpt_bz_invoice as list index}}
					<div class="inputEdit"><span>{{list.value}}：</span><span><input class="checkbox" type="checkbox" name="{{list.key}}" data-value="{{list.value}}" {{if list.checked}}checked="true"{{/if}} data-parent="lpt_bz_invoice"></span></div>
					{{/each}}
				</div>
			</div>
			<div class="col-md-4">
				<div class="title"><span>门诊收据明细字段</span> <span><input class="checkAll" type="checkbox"></span></div>
				<div class="customBody">
					{{each lpt_bz_invoice_detail as list index}}
					<div class="inputEdit"><span>{{list.value}}：</span><span><input class="checkbox" type="checkbox" name="{{list.key}}" data-value="{{list.value}}" {{if list.checked}}checked="true"{{/if}} data-parent="lpt_bz_invoice_detail"></span></div>
					{{/each}}
				</div>
			</div>
			<div class="col-md-4">
				<div class="title"><span>处方字段</span> <span><input class="checkAll" type="checkbox"></span></div>
				<div class="customBody">
					{{each lpt_bz_prescription as list index}}
					<div class="inputEdit"><span>{{list.value}}：</span><span><input class="checkbox" type="checkbox" name="{{list.key}}" data-value="{{list.value}}" {{if list.checked}}checked="true"{{/if}} data-parent="lpt_bz_prescription"></span></div>
					{{/each}}
				</div>
			</div>
			<div class="col-md-4">
				<div class="title"><span>处方明细字段</span> <span><input class="checkAll" type="checkbox"></span></div>
				<div class="customBody">
					{{each lpt_bz_prescription_detail as list index}}
					<div class="inputEdit"><span>{{list.value}}：</span><span><input class="checkbox" type="checkbox" name="{{list.key}}" data-value="{{list.value}}" {{if list.checked}}checked="true"{{/if}} data-parent="lpt_bz_prescription_detail"></span></div>
					{{/each}}
				</div>
			</div>
			<div class="col-md-4">
				<div class="title"><span>住院收据字段</span> <span><input class="checkAll" type="checkbox"></span></div>
				<div class="customBody">
					{{each lpt_bz_hospitalization_list as list index}}
					<div class="inputEdit"><span>{{list.value}}：</span><span><input class="checkbox" type="checkbox" name="{{list.key}}" data-value="{{list.value}}" {{if list.checked}}checked="true"{{/if}} data-parent="lpt_bz_hospitalization_list"></span></div>
					{{/each}}
				</div>
			</div>
			<div class="col-md-4">
				<div class="title"><span>住院收据明细字段</span> <span><input class="checkAll" type="checkbox"></span></div>
				<div class="customBody">
					{{each lpt_bz_hospitalization_list_detail as list index}}
					<div class="inputEdit"><span>{{list.value}}：</span><span><input class="checkbox" type="checkbox" name="{{list.key}}" data-value="{{list.value}}" {{if list.checked}}checked="true"{{/if}} data-parent="lpt_bz_hospitalization_list_detail"></span></div>
					{{/each}}
				</div>
			</div>
		</script>
		<!--resinclude "admin.customReport-jshtml"-->
		<!--resinclude "admin.customReport-js"-->
	</body>
</html>
