.left-menu > .nav > li > a.my-active {
  	text-decoration: none;
  	background-color: #555;
  	color: #f57c00;
  	border-right: 5px solid #f57c00;
}
.order-pagination .pagination>li>a{padding-left: 20px; padding-right: 20px}
.b-table tbody td>div{padding-left: 10px;}
#order-container{
	border: 1px solid #0288d1;
  	border-radius: 3px;
}
#order-container tbody tr{cursor: pointer;}
.b-table.table{border:none;}
.b-table.table>thead>tr>th{
	font-size: 16px;
	font-weight: bold;
	border:1px solid #0288d1;
	background-color: #0288d1;
	color: #fff;
	padding: 10px 0;
}
.order-txt.customeraction{margin: auto;}
.customeraction.btn{padding-top: 0;padding-bottom: 0;}
.no-table-field-editor{padding-top: 3px;}
.no-table-editor-status.no-table-field-editor{padding-top: 0}
@media (min-width: 768px){
	.modal-sm {
	    width: 370px;
	}
}
span.customeraction.order-txt{display: inline-block;min-width: 65px;}
.order-not-group{display: none}
.b-table .order-processing td.mainPaymentId>div,
.b-table .order-not-group td.mainPaymentId>div{
	padding-left: 30px;
}
