
@font-face {font-family: "iconfont";
  src: url('iconfont.eot'); /* IE9*/
  src: url('iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff') format('woff'), /* chrome, firefox */
  url('iconfont.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-arrowleftsm:before { content: "\e60c"; }
.icon-arrowleft:before { content: "\e60d"; }
.icon-arrowrightsm:before { content: "\e60e"; }
.icon-arrowright:before { content: "\e60f"; }
.icon-bankcardo:before { content: "\e610"; }
.icon-box:before { content: "\e600"; }
.icon-calendar:before { content: "\e611"; }
.icon-closesm:before { content: "\e612"; }
.icon-close:before { content: "\e613"; }
.icon-docclipo:before { content: "\e614"; }
.icon-docclip:before { content: "\e615"; }
.icon-locationo:before { content: "\e616"; }
.icon-plusbold:before { content: "\e617"; }
.icon-searcho:before { content: "\e618"; }
.icon-upload:before { content: "\e619"; }
.icon-usero:before { content: "\e61b"; }
.icon-user:before { content: "\e61c"; }
.icon-uploado:before { content: "\e61d"; }
.icon-arrowdownsm:before { content: "\e601"; }
.icon-arrowupsm:before { content: "\e602"; }
.icon-arrowdown:before { content: "\e603"; }
.icon-arrowup:before { content: "\e604"; }
.icon-funnel:before { content: "\e605"; }
.icon-images:before { content: "\e606"; }
.icon-uploado1:before { content: "\e607"; }
.icon-upload1:before { content: "\e608"; }
.icon-checked:before { content: "\e609"; }
.icon-userinfoo:before { content: "\e60a"; }
.icon-bankcardo1:before { content: "\e60b"; }
