<div class="left-menu hidden-xs hidden-sm">
	<ul class="nav">
    <li txtName="单据处理">
      <a href="verify.html" ><span class="glyphicon glyphicon-edit"></span>单据处理</a>
    </li>
    <li txtName="单据录入">
      <a href="entry.html" ><span class="glyphicon glyphicon-pencil"></span>单据录入</a>
    </li>
    <li txtName="单据审核">
      <a href="review.html" ><span class="glyphicon glyphicon-check"></span>单据审核</a>
    </li>
		<li txtName="单据列表">
      <a href="order.html" class="order-active"><span class="glyphicon glyphicon-list"></span>单据列表</a>
    </li>
		<li txtName="用户管理">
      <a href="index.html" class="index-active"><span class="glyphicon glyphicon-upload"></span>用户管理</a>
    </li>
    <li txtName="权限管理">
      <a href="authority.html" class="authority-active"><span class="glyphicon glyphicon-list-alt"></span>权限管理</a>
    </li>
    <li txtName="角色权限分配">
      <a href="rolePermis.html" class="rolePermis-active"><span class="glyphicon glyphicon-user"></span>角色权限分配</a>
    </li>
    <li txtName="报表管理">
      <a href="customReportList.html" class="customReport-active"><span class="glyphicon glyphicon-upload"></span>报表管理</a>
    </li>
    <li txtName="模板管理">
      <a href="templatelist.html" class="template-active"><span class="glyphicon glyphicon-cog"></span>模板管理</a>
    </li>
    <li txtName="Mapping管理">
      <a href="listMapping.html" class="mapping-active"><span class="glyphicon glyphicon-road"></span>Mapping管理</a>
    </li>
    <li txtName="操作记录">
      <a href="actionRecord.html" class="actionRecord-active"><span class="glyphicon glyphicon-plus-sign"></span>操作记录</a>
    </li>
    <li txtName="医院管理">
      <a href="hospitalList.html" class="hospitalList-active"><span class="glyphicon glyphicon-retweet"></span>医院管理</a>
    </li>
    <li txtName="清单录入">
      <a href="listEntry.html" class="listEntry-active"><span class="glyphicon glyphicon-screenshot"></span>清单录入</a>
    </li>
    <li txtName="清单审核">
      <a href="listReview.html" class="listReview-active"><span class="glyphicon glyphicon-gift"></span>清单审核</a>
    </li>
    <!-- <li>
      <a href="setting.html" class="setting-active"><span class="glyphicon glyphicon-cog"></span>账户设置</a>
    </li> -->
    <li txtName="异常处理">
      <a href="unusual.html" class="unusual-active"><span class="glyphicon glyphicon-warning-sign"></span>异常处理</a>
    </li>
  </ul>
</div>

